
.product-add-form {
    margin: 20px;
    padding: 20px;
}
.product-add-form-open {
    background-color: #4CAF59;
    border: none;
    padding:5px 15px;
}

.popup-content {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popup-content * {
    margin-bottom: 3px;
}

.popup-content .add-form-inputs {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.popup-content .price-invalid {
    color: red;
}

.add-button {
    background-color: #4CAF59;
    border: none;
    padding:5px 15px;
}

.add-button:disabled {
    background-color: lightgray;
}
