
.product-page {
    margin: 20px;
}

.product-list {
    border-color: green;
    border-width: 1px;
    border-style: solid;

    background: lightgray;
    max-width: 80%;
}

.product-list-header {
    display: grid;
    grid-template-columns: 2fr 1fr 0.3fr;

    background: #4CAF59;
    color: white;
    padding: 10px;
    grid-column-gap: 5px;
}

.product-list-item{
    display: grid;
    grid-template-columns: 2fr 1fr 0.3fr;

    background: white;
    color: green;
    padding: 10px;
    grid-column-gap: 5px;
}

.product-list-item-remove {
    background-color: #4CAF59;
    border: none;
    padding: 4px 15px;
    color: white;

}